:root {
  --primary-blue: #2891bb;
  --color-easy: #4b6b51;
  --color-medium: #ffa700;
  --color-hard: #ffb3ba;
  --white: #faf8f6;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

body {
  width: 100%;
}
